*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width:80%;
  margin: 0 auto;
}

header{
  background-color: blueviolet;
  height: 75px;
}

footer{
  background-color: blueviolet;
  height: 75px;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}
.container{
    margin: 30px 0px;
  }

  .floater{
    float: left;
    height: 500px;
  }

/* 
  Main
 */

.jumbotron{ 
  height: 400px;
  background-color: blue;
  margin-bottom: 25px;

}

.middle{
  background-color: burlywood;
  
}

.middleheader{
  height: 75px;
  background-color: yellowgreen;
  margin-bottom: 20px;
  }

.middlesection{
  padding-bottom: 20px;

}

.col-sx{
width: 19%;
background-color: yellowgreen;
margin-right: 1%;

}

.col-x{
  width: 60%;
  background-color: yellowgreen;
}

.col-dx{
  width: 19%;
  background-color: yellowgreen;
  margin-left: 1%;
}

.imago{
width: 100%;
}

p,h2{

  text-align:left;
}

.yolo{

  
  padding: 20px;
}